@using SimpleBlog.Models.Account;
@using SimpleBlog.Views;
@model AccountInfoModel

<h2>Name: @Model.Name</h2>

@if(Model.Surname != string.Empty)
{
	<p>Surname: @Model.Surname</p>
}

<p>Email: @Model.Email</p>
<p>Date of birth: @Model.DateOfBirth</p>
<p>@Model.NickName</p>

<form asp-action=""
    asp-controller="PersonalAccount"
    method="post"
    class="btn-group-vertical"
    role="form">
    <input type="submit"
           name="submitButton"
           value="Edit"
           class="btn btn-success"
           style="background-color: darkorange; margin-bottom: 10px"
           asp-action="Update" />
    <input type="submit"
           name="submitButton"
           value="Log Out"
           class="btn btn-success"
           style="background-color: darkblue; margin-bottom: 10px"
           asp-action="LogOut" />
    <input type="submit"
           name="submitButton"
           value="Delete Account"
           class="btn btn-success"
           style="background-color: red"
           asp-action="Delete" />
</form>
